.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background-color: #B22A00;
}

.navbar-inverse {
    background-color: #f74d18;
    border-color: #f74d18;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default {
    background-color: #f74d18;
    border-color: #f74d18;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: #B22A00;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}